{% extends 'base.html.twig' %}

{% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_content.jpg') }}" alt="todo list">{% endblock %}

{% block body %}
    <h1 class="text-center"> Liste des taches terminées</h1>
    <a href="{{ path('task_list') }}" class="btn btn-info pull-right mb-5">Voir la iste complete des taches</a>
    <div class="row ">
        {% for task in tasks %}
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="card pe-2 ps-2 pt-2 pb-2">
                <div class="caption">
                    <h4 class="pull-right">
                        {% if task.isDone %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}
                    </h4>
                    <h4><a href="#">{{ task.title }}</a></h4>
                    <p>{{ task.content }}</p>
                </div>
                <div>
                </div>
                <button class="btn btn-success btn-sm pull-right mt-2">
                            {% if task.isDone == true %}Tache terminée{% else %}Marquer non terminée{% endif %}
                </button>
            </div>
            <p> Ajouté par {% if task.user.username is defined  %} {{ task.user.username}}{% else %} Anonyme {% endif %}</p>
        </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
                Il n'y a pas encore de tâche terminée. <a href="{{ path('task_create') }}" class="btn btn-warning pull-right">Créer une tâche</a>
            </div>
        {% endfor %}
    </div>

{% endblock %}
